
@media (max-width:1232px){
  .container{
    max-width: 970px;
  }
  .graphics__block{
    padding: 180px 20px 0px;
  }
  .second__block,.third__block{
    padding-top: 90px;
  }
  .graphics__content{
    padding-right: 40px;
  }
  .graphics__content h2{
    font-weight: 600;
    
  }
  .graphics__content h3{
    margin-top: 30px;
  }
  .second{
    padding-left: 50px;
  }
  .main{
    height: 1000px;
  }
}

@media (max-width:992px){
  .graphics__block{
    flex-direction: column;
  }
  .second__block{
    flex-direction: column-reverse;
  }
  .graphics__content{
    width: 100%;
  }
  .main{
    height: 900px;
  }
  .header__logo img{
    height: 20px;
  }
  .container{
    max-width: 750px;
  }
  .header__list a{
    margin-right: 10px;
  }
  .header__logo a:last-of-type{
    display: none;
  }
  .header__logo:nth-child(2){
    display: block;
  }
  .hl1{
    display: none;
  }
  .header__list{
    display: none;
    
  }
  .header__list a{
    
    color: #100A39;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 4px;
  }
  .header__list a:nth-of-type(4){
    padding-bottom: 20px;

  }
  .header__list a:last-of-type{
    padding: 12px 18px;
  }
  
  #hamburger{
    display: block;
    position: relative;
    z-index: 3;
  }
  .header::before{
    background:white;
  }
  
  .header__block{
    height: 80px;
    padding: 0px 35px;
  }

}
@media (max-width:867px){
  .header__list a{
    
    color: #100A39;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 6px;
  }
  .header__list a:nth-of-type(4){
    padding-bottom: 20px;

  }
  .header__list a:last-of-type{
    padding: 12px 18px;
  }
  .graphics__block{
    padding: 80px 80px 0;
  }
  .second{
    padding: 0px;
  }
}
@media (max-width:767px){
  .graphics__content{
    padding-right: 0;
  }
  .graphics__image {
    width: 100%;
  }
  .main{
    height: 800px;
  }
  .hl1 img{
    width: 60%;
  }
  .main__text p{
    font-size: 15px;
  }
  .main__link a{
    font-size: 13px;
    margin-right: 10px;
  }
  .h1{
    font-size: 46px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.5600000023841858px;
  }
  .main__block{
    width: 100%;
    padding: 40px;
    /* margin: 0 48px; */
  }
  .main__content{
    margin-top: 100px;
    width: 100%;
    /* width: 650px; */
  }
  
  .container{
    max-width: none;
  }
  
}
@media (max-width:667px){
  #hamburger{
    scale: 0.9;
  }
  .graphics__content p{
    font-size: 16px;
  }
  .graphics__content h2{
    font-size: 39px;
    line-height: 44px;
  }
  .graphics__content h3{
    font-size: 15px;
  }
  .main{
    height: 700px;
  }
  .main__image{
    position: relative;
    top: 0px;
    
  }
  .hl1 img{
    width: 40%;
  }
  .main__text p{
    padding: 0 10px;
    font-size: 15px;
    font-weight: 300;
  }
  .main__link a{
    font-size: 14px;
    font-weight: 200;
    margin-right: 10px;
    padding: 10px 28px;
  }
  .h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
  }
  .main__block{
    width: 100%;
    padding: 40px;
    /* margin: 0 48px; */
  }
  .main__content{
    margin-top: 80px;
    width: 100%;
    /* width: 650px; */
  }
  .main__image img{
    width: 700px;
  }
  .container{
    max-width: none;
  }
  
}
@media(max-width:414px){
  #hamburger{
    scale: 0.7;
  

  }
  .header__list a{
    
    color: #100A39;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__list a:nth-of-type(4){
    padding-bottom: 30px;

  }
  .header__list a:last-of-type{
    padding: 8px 12px;
  }
  .graphics__content p{
    font-size: 13px;
    font-weight: 400;
  }
  .graphics__content h2{
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }
  .graphics__content h3{
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 24px;
  }

  .graphics__block{
    padding: 60px 30px 0;
  }
  .h1{
    font-size: 30px;
  }
  .header__block{
    padding: 0 10px;
    height: 10vh;
  }
  .main__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .main__link a{
    
    display: block;
    
    width: 160px;
    padding: 10px;
    
  }
  
  .main__link a:last-of-type,.main__link a:nth-of-type(1){
    /* padding: 0; */
    margin: 0;
  }
  .main__link a:last-of-type{
    margin-top: 20px;
  }
  .main__text h1{
    margin-bottom: 16px;
  }
  .h1{
    display: none;
  }
  .h1mb{
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    /* or 116% */
    text-align: center;
    letter-spacing: 0.56px;
    /* margin-bottom: 24px; */
    color: #FFFFFF;
  }
  
  .main__block{
    padding:10vh 5vw 0px;
  }
  .main__content{
    margin-top: 80px;
  }
  .main{
    height: 100vh;
  }
}
@media (max-width: 320px){
  #hamburger{
    scale: 0.5;
  }
  .main{
    height: 100vh;
  }
  .main__content{
    margin-top: 40px;
  }
  .main__text h1{
    font-size: 24px;
  }
  .main__link a{
    padding: 4px;
  }
  .header{
    height: 8vh;
    
  }
  .header__block{
    padding-bottom: 16px;
    padding-right: 0px;
  }
  .header__list a{
    
    color: #100A39;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header__list a:nth-of-type(4){
    padding-bottom: 20px;

  }
  .header__list a:last-of-type{
    padding: 8px 14px;
  }
}