
@media (max-width:1232px){
  .container{
    max-width: 970px;
  }
  .features__content{
    
    font-size: 24px;
    font-weight: 400;
    line-height:32px;
    padding: 10px;

  }
  .header__block{
    width: 100%;
  }

  .features__items{
    padding: 24px 24px 0px;
  }
  .graphics__block{
    padding: 180px 20px 0px;
  }
  .second__block,.third__block{
    padding-top: 90px;
  }
  .graphics__content{
    padding-right: 40px;
  }
  .graphics__content h2{
    font-weight: 600;
    
  }
  .graphics__content h3{
    margin-top: 30px;
  }
  .second{
    padding-left: 50px;
  }
  .main{
    height: 1000px;
    
  }
}

@media (max-width:992px){
  .footer__list{
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  .footer__item{
    padding: 30px 0;
  }
  .footer__item a{
    font-weight: 300;
  }
  .last__block{padding-bottom: 0;}
  .chats__block{
    padding-top: 60px;
  }
  .price__block2{
    grid-template: 1fr 1fr 1fr/1fr;
  }
  .price__card{
    width: 395px;
    margin: 0 auto;
  }
  .price__heading{
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .graphics__block{
    flex-direction: column;
  }
  .second__block{
    flex-direction: column-reverse;
  }
  .graphics__content{
    width: 100%;
  }
  .main{
    height: 900px;
  }
  .header__logo img{
    height: 20px;
  }
  .container{
    max-width: 750px;
  }
  .header__list a{
    margin-right: 10px;
  }
  .header__logo a:last-of-type{
    display: none;
  }
  .header__logo:nth-child(2){
    display: block;
  }
  .hl1{
    display: none;
  }
  .header__list{
    display: none;
    
  }
  .header__list a{
    
    color: #100A39;
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 4px;
  }
  .header__list a:nth-of-type(4){
    padding-bottom: 20px;

  }
  .header__list a:last-of-type{
    padding: 12px 18px;
  }
  
  #hamburger{
    display: block;
    position: relative;
    z-index: 3;
  }
  .header::before{
    background:white;
  }
  
  .header__block{
    height: 80px;
    padding: 0px 35px;
  }
  .price__heading{
    
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5600000023841858px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .features__content{
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5600000023841858px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .graphics__content h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.5600000023841858px;
    
  }
}
@media (max-width:867px){
  .price__heading{
    
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .features__content{
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  .graphics__content h2{
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
    
  }
  .header__list a{
    
    color: #100A39;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 6px;
  }
  .header__list a:nth-of-type(4){
    padding-bottom: 20px;

  }
  .header__list a:last-of-type{
    padding: 12px 18px;
  }
  .graphics__block{
    padding: 80px 40px 0;
  }
  .second{
    padding: 0px;
  }
}
@media (max-width:767px){
  .footer__list{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer__item{
    text-align: center;
    padding: 30px 0;
  }
  .footer__img{
    display: flex;justify-content: center;
  }
  .logos{
    display: flex;
    justify-content: center;
  }
  .footer__item a{
    font-weight: 300;
    padding: 2px;
  }
  .last{
    padding: 0 40px;
  }
  .last__block{
    padding: 50px 0;
  }
  .last__content{
    padding: 18px 0 0px;
    height: 188px;
    border-radius: 8px;
  }
  
  .last__content h2{
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
  }
  .chats__heading{
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
  }
  .chats__block{
    padding-top: 0;
  }
  .chats__right{
    display: none;
  }
  .chats__left{
    width: 100%;
    padding-left: 40px;
  }
  .price__heading{
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .features__block{
    grid-template: 1fr 1fr 1fr/1fr 1fr;
    
  }
  .features__content{
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
    padding: 10px;
  }
  .features__text{
    font-size: 20px;
    padding: 20px 0 30px;
  }
  .features__block{
    row-gap: 20;
    column-gap: 20px;
    padding: 0px 30px;
  }
  .logos img:last-of-type{
    padding: 10px;
  }
  .features__image img{
    scale: 0.9;
  }
  .features__items{
    padding: 20px 20px 0px;
  }
  .graphics__content{
    padding-right: 0;
    
  }
  .graphics__image {
    width: 100%;
  }
  .main{
    height: 800px;
  }
  /* .hl1 img{
    width: 60%;
  } */
  .main__text p{
    font-size: 15px;
  }
  .main__link a{
    font-size: 13px;
    margin-right: 10px;
  }
  .h1{
    font-size: 46px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.5600000023841858px;
  }
  .main__block{
    width: 100%;
    padding: 40px;
    /* margin: 0 48px; */
  }
  .main__content{
    margin-top: 100px;
    width: 100%;
    /* width: 650px; */
  }
  
  .container{
    max-width: none;
  }
  .graphics__content p{
    font-size: 16px;
    font-weight: 600;
  }
  .graphics__content h2{
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
  }
  .graphics__content h3{
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 24px;
  }
  .graphics__content a{
    font-size: 14px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
@media (max-width:667px){
  .last{
    padding: 0 30px;
  }
  .last__block{
    padding: 40px 0;
  }
  .last__content{
    padding: 18px 0 0px;
    height: 188px;
    border-radius: 8px;
  }
  
  .last__content h2{
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
  }
  .chats__text{
    padding-top: 14px;
  }
  .price__decscription{
    margin-bottom: 48px;
  }
  .price__heading{
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
    padding-top: 60px;
    padding-bottom: 0px;
  }
  .price__button{
    padding: 0px 16px 30px;
  }
  .features__content{
    font-size: 24px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
    padding: 10px;
  }
  .features__image img{
    scale: 0.8;
  }
  .features__text{
    font-size: 18px;
  }
  .features__block{
    row-gap: 18;
    column-gap: 18px;
    padding: 0px 30px;
  }
  #hamburger{
    scale: 0.9;
  }
  .graphics__content p{
    font-size: 16px;
  }
  .graphics__content h2{
    font-size: 24px;
    line-height: 32px;
  }
  .graphics__content h3{
    font-size: 15px;
  }
  .main{
    height: 700px;
  }
  .main__image{
    position: relative;
    top: 0px;
    
  }
  .hl1 img{
    width: 40%;
  }
  .main__text p{
    padding: 0 10px;
    font-size: 15px;
    font-weight: 300;
  }
  .main__link a{
    font-size: 14px;
    font-weight: 200;
    margin-right: 10px;
    padding: 10px 28px;
  }
  .h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0.5600000023841858px;
  }
  .main__block{
    width: 100%;
    padding: 40px;
    /* margin: 0 48px; */
  }
  .main__content{
    margin-top: 80px;
    width: 100%;
    /* width: 650px; */
  }
  .main__image img{
    width: 700px;
  }
  .container{
    max-width: none;
  }
  
}
@media(max-width:414px){
  .last{
    padding: 0 30px;
  }
  .last__block{
    padding: 30px 0;
  }
  .last__content p{
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-bottom: 0;
  }
  .last__content{
    padding: 18px 0 0px;
    height: 188px;
    
  }
  
  .last__content h2{
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5600000023841858px;
  }
  .last__content a{
    padding: 2px 15px;
  }
  .chats__left{
    padding: 14px;
  }
  .price__decscription{
    margin-bottom: 24px;
  }
  .chats__comment{
    padding: 30px;
    margin-top: 20px;
  }
  #hamburger{
    scale: 0.7;
  

  }
  .price{
    padding: 0 20px;
  }
  .features__image img{
    scale: 0.6;
  }
  .price__heading{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5600000023841858px;
    padding-top: 30px;
    padding-bottom: 0px;
    
  }
  .price__decscription{
    margin-bottom: 30px;
  }
  .features__content{
    font-size: 16px;
    font-weight: 400;
    line-height:30px;
    padding: 10px;
  }
  .features__text{
    padding: 0px 0px 10px;
    font-size: 16px;
  }
  .features__items{
    padding-bottom: 10px;
  }
  .features__block{
    row-gap: 16px;
    column-gap: 16px;
    padding: 30px;
    margin-top: 0;
  }
  .header__list a{
    
    color: #100A39;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header__list a:nth-of-type(4){
    padding-bottom: 30px;

  }
  .header__list a:last-of-type{
    padding: 8px 12px;
  }
  .graphics__content p{
    font-size: 14px;
    font-weight: 600;
  }
  .graphics__content h2{
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }
  .graphics__content h3{
    font-size: 12px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 24px;
  }
  .graphics__content a{
    font-size: 12px;
    font-weight: 400;
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 24px;
  }
  .graphics__block{
    padding:  0;
  }
  .second__block{
    padding: 0;
  }
  .h1{
    font-size: 30px;
  }
  .header__block{
    padding: 0 10px;
    height: 10vh;
  }
  .main__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .main__link a{
    
    display: block;
    
    width: 160px;
    padding: 10px;
    
  }
  
  .main__link a:last-of-type,.main__link a:nth-of-type(1){
    /* padding: 0; */
    margin: 0;
  }
  .main__link a:last-of-type{
    margin-top: 20px;
  }
  .main__text h1{
    margin-bottom: 16px;
  }
  .h1{
    display: none;
  }
  .h1mb{
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    /* or 116% */
    text-align: center;
    letter-spacing: 0.56px;
    /* margin-bottom: 24px; */
    color: #FFFFFF;
  }
  
  .main__block{
    padding:10vh 5vw 0px;
  }
  .main__content{
    margin-top: 80px;
  }
  .main{
    height: 90vh;
  }
}
@media (max-width: 321px){
  
  .features__content{
    font-size: 14px;
    font-weight: 400;
    line-height:18px;
    padding: 10px;
  }
  .features__text{
    font-size: 14px;
  }
  .features__block{
    row-gap: 14;
    column-gap: 14px;
    padding: 14px;

  }
  .features__items{
    padding: 14px 14px 0px;
  }
  #hamburger{
    scale: 0.5;
  }
  
  .main__content{
    margin-top: 40px;
  }
  .main__text h1{
    font-size: 24px;
  }
  .main__link a{
    padding: 4px;
  }
  .header{
    height: 8vh;
    
  }
  .header__block{
    padding-bottom: 16px;
    padding-right: 0px;
  }
  .header__list a{
    
    color: #100A39;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .header__list a:nth-of-type(4){
    padding-bottom: 20px;

  }
  .header__list a:last-of-type{
    padding: 8px 14px;
  }
 
}