#hamburger{
  display: none;
}
.h1mb{
  display: none;
}
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 60;
  background: #FFF;
  border-bottom: 0.1px solid rgb(70, 69, 69);
}
.header:before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #100A30;
  z-index: 2;
}

.header__block{
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
  
}
.header__logo:nth-child(2){
  display: none;
}
.header__list{
  z-index: 3;
  padding: 12px 0px;
}
.header__list.is-active{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: rgba(255, 255, 255, 0.9);
}
.header__list.header__list.is-active a{
  margin: 0;
}
.header__list a{
  margin-right: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.header__list a:hover{
  color: #624DE3;
}
.header__list a:nth-child(4){
  margin-right: 20px;
}
.header__list a:nth-child(5){
  margin-right: 0px;
  color: #FFF;
  padding: 12px 24px;
  background: #624DE3;
  border-radius: 6px;
}
.main{
  background: #100A30;
  height: 1105px;
}
.main__block{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.main__image{
  position: relative;
  top:50px
}
.h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  /* or 116% */
  text-align: center;
  letter-spacing: 0.56px;
  margin-bottom: 24px;
  color: #FFFFFF;

}
.main__text p{
  
  font-weight: 400;
  font-size: 16px;
  /* line-height: 30px; */
  /* identical to box height, or 188% */

  text-align: center;
  letter-spacing: 0.18px;

  color: rgba(255, 255, 255, 0.7);
}
.main__content{
  margin: 152px auto 0px;
  width: 650px;
}
.main__link{
  margin-top: 48px;
  text-align: center;
  margin-bottom: 2px;
}
.main__link a{
  font-weight: 400;
  font-size: 15px;
  padding: 15px 36px;
  text-align: center;
  background: #624DE3;
  border-radius: 6px;
  color: #FFFFFF;
  margin-right: 16px;
}
.main__link a:last-child{
  border: 1px solid #C3C1CB;
  border-radius: 8px;
  background:transparent;
  margin-right: 0;
}
.graphics__block{
  padding: 243px 57px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.third__block{
  padding:  96px 57px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second__block{

  padding: 96px 57px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.graphics__content p{
  font-weight: 700;
  font-size: 16px;
  color: #624DE3;
  
}
.graphics__content h2{
  margin-top: 10px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #100A30;
}
.graphics__content h3{
  margin-top: 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.18px;
  color: #4C4764;
  margin-bottom: 27px;
}
.graphics__content a{
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.18px;
  color: #624DE3;
  padding-bottom: 6px;
  border-bottom: 2px solid#624DE3;
  
}
.graphics__content{
  width: 50%;
  padding-right: 120px;
}
.graphics__image{
  width: 50%;
}

.third p{
  color: #0084FF;


}
.third a{
  color:  #0084FF;

  ;

}
.second p{
  color: #19C787;
}
.second a{
  color: #19C787;

}
.second{
  width: 50%;
  padding-left: 100px;
}
.features__content{
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  text-align: center;
  color: #100A30;
  padding-bottom: 26px;
}
.h2{
  padding-top: 18px;
}
.features__block{
  margin-top: 32px;
  display: grid;
  grid-template: 1fr 1fr/repeat(4,1fr);
  row-gap: 24px;
  column-gap: 24px;
  padding-bottom: 120px;
}
.features__items{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 32px 24px;
  border-radius: 8px;
  box-shadow: -1px 4px 20px 4px rgba(0,0,0,.05);;
}
.features__text{
  padding-bottom: 34px;
  padding-top: 24px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  /* identical to box height, or 176% */
  text-align: center;
  letter-spacing: 0.18px;

  color: #100A30;
}
.price__heading{
  padding-top: 48px;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  /* identical to box height, or 117% */
  text-align: center;
  color: #100A30;
  padding-bottom: 26px;
  margin-bottom: 20px;
}
.price__button{
  text-align: center;
  padding: 20px 16px;
}
.price__button a{
  font-weight: 400;
  font-size: 14px;
  padding: 4px 20px;
  color: #FFFFFF;
  background: #624DE3;
  border-radius: 200px;
}
.price__button a:last-of-type{
  background:transparent;
  color: #4C4764;
  font-weight: 700;
  margin-left: 8px;
}
.price__image{
  position: relative;
}
.price__icon img{
  position:absolute;
  left: 30px;
  bottom: 76px;

}
.price__text h2{
  position:absolute;
  left: 30px;
  bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
}
.text2 h2{
  color: #19C787;
}
.text3 h2{
  color: #FF9F1C;
}
.price__decscription p{
  font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

color: #100A30;
}
.price__block2{
  display: grid;
  grid-template: 1fr/repeat(3,1fr);
  column-gap: 24px;
}
.price__decscription{
  padding: 24px;
  display: grid;
  grid-template:repeat(3,1fr)/24px 1fr;
  row-gap: 14px;
  background: rgba(25, 199, 135, 0.05);
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 96px;
}
.d1{
  background: rgba(16, 10, 48, 0.03);
}
.d3{
  background: rgba(252, 185, 52, 0.05);
}
.chats__block{
  display: flex;
}
.chats__right{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.chats__left{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
}
.chats__avatar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chats__avatar img{
  width:48px;
  height: 48px;
}
.chats__heading{
padding-top: 37px;
padding-bottom: 40px;
font-weight: 700;
font-size: 32px;
line-height: 56px;
color: #100A30;
}
.chats__block{
  display: flex;
  padding-top: 110px;
  padding-bottom: 48px;
}
.chats__comment{
  margin-top: 40px;
  background: #E8E5FB;
  padding: 40px;
  border-radius: 8px;
}
.chatsbg1{
  background: #E8FAF3;
}
.chatsbg2{
  background: #E6F3FF;
}
.chatsbg3{
  background: #FFF5E1;
}
.chatsbg4{
  background: #FDEBEE;
}
.chatsbg5{
  background: #E6F3FF;
}
.chatsbg6{
  background: #FFF5E1;
}
.chatsbg7{
  background: #E8E5FB;
}
.chatsbg8{
  background: #FDEBEE;
}
.chats__info{
  display: flex;
}
.nickname{
  padding-left: 16px;
}
.nickname h2{
font-weight: 700;
font-size: 16px;
color: #100A30;
}
.nickname h3{

font-weight: 400;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 160% */

color: #4C4764;
}
.chats__text{
padding-top: 36px;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* or 176% */
letter-spacing: 0.18px;

color: #4C4764;
}
.chats__accent h3{

font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #100A30;
}
.chats__accent{
  padding-top: 20px;
}
.last__block{
  padding: 116px 0px 76px;
}
.last__content{
  background:url('../images/Frame\ \(4\).png');
  text-align: center;
  height: 380px;
  padding-top: 95px;
}
.last__content p{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.18px;
  
  color: #FFFFFF;
}
.last__content h2{
  font-weight: 400;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height, or 112% */
  text-align: center;
  margin-top: 8px;
  color: #FFFFFF;
  margin-bottom: 58px;
}
.last__content a{

font-weight: 400;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */
text-align: center;

color: #FFFFFF;
padding: 15px 36px;
background: #000;
border-radius: 8px;
}
.chats__icon img{
  width: 24px;
  height: 24px;
}
.logos{
  display: flex;
  align-items: baseline;
  
}
.logos img{
  padding-right: 24px;
}
.footer__item{
  display: flex;
  flex-direction: column;
}
.footer__list{
  display: flex;
  justify-content: space-between;
}
.footer__item a{

font-weight: 400;
font-size: 16px;
/* identical to box height, or 188% */
letter-spacing: 0.18px;
padding: 6px 0px;
color: #4C4764;
}

.footer__accent a{

  font-weight: 700;
  font-size: 16px;
  /* identical to box height, or 150% */
  
  color: #100A30;
}
.footer__accent{
  margin-bottom: 12px;
}
.footer__block{
  margin-top: 131px;
  padding-bottom: 72px;
}
.footer__img {
  display:inline-block;
  margin-bottom: 12px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
}

.hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #fff; }